body, html {
	margin: 0;
	padding: 0px;
	background-color: black;
}
#todo{
	width: 100%;
	height: 600px;
	background-repeat: no-repeat; 	
  background-size: 100%;
	background-image: url(imagens/ImagemFundo.png);

}
.Nav{
  height: 90px;
  position: absolute;
  width: 100%;
}
.btn2{
	margin-top: 2%;
	margin-left: 92%;
	background-color: #e50914;
	color: #fff;
	padding: 7px 17px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 16px;
  border:none;
  cursor: pointer;
  text-decoration: none;
  outline-color: #FFFFFF;
}
.btn2:hover{
	background:#d20000;	
}
.Logo{
	margin: 0px;
	padding: 50px;
  background-image: url(imagens/PicsArt_12-11-09.34.48.png);
  background-size: 16%;
  background-repeat: no-repeat;
  background-position: center;
}
.Tex1{
	font-family: 'Helvetica';
	text-align: center;
	color: #fff;
	font-size: 80px;
  margin: 50px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #000;
 }
 .Tex2{
 	font-family: 'Helvetica';
 	text-align: center;
	color: #fff;
	font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #000;   
 }
 .Btn{
 	font-size: 24px;
 	padding: 1em 1.5em 1em 2em;
 	letter-spacing: 1.9px;
 	font-weight: 400;
 	margin-bottom: 40px;
 	color: #fff;
  background-color: #e50914;
  border:none;
  line-height: 1em;
  cursor: pointer;
  border-radius: 2px;
  width: 500px;
  outline-color: #FFFFFF;
   
 }
 .Btn:hover{
 	background:#d20000;	
 }
 #GeralBtn{
 	text-align: center;
 	width: 100%;
 }
 #Meio{
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  display: block;
  background-color: #141414;
  border-right: none;
  border-bottom: 5px solid #e50914;
  display: inline-block;
 }
 .meio1 figure img{
  width: 55px;
  margin-left: 1120px;
  position: absolute;
  margin-top: -10px;

 }
.meio1 figure figcaption a{
  cursor: pointer;
  color: #fff;
  fill: #fff;
  font-size: 20px;
  position: absolute;
  margin-top: 44px;
  font-family: arial;
  cursor: pointer;
  text-decoration: none;
  margin-left: 1000px;
 }
.meio2 figure img{
  width: 55px;
  margin-top: -15px;
  margin-left: 300px;
 }
.meio2 figure figcaption a{
  color: #fff;
  fill: #fff;
  font-size: 20px;
  font-family: arial;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
  margin-left: 120px;
 }
div iframe{
  width: 99.6%;
  height: 350px;
  border: none;
 }
.footer{
  width: 100%;
  height: 30%;
}
.footerTopo{
  color: #999;
  margin: 25px;
  font-size: 16px;
  font-family: arial;
  display: inline-block;
}
.footerTopo1{
  color: #999;
  text-decoration-color: transparent;
}
.footerTopo1:hover{
  text-decoration: underline;
}
 a{
  cursor: pointer;
}
.TudoUl{
  padding: 0;
  margin: 0;
}
.footerLi{
  font-size: 13px;
  color: #999;
  text-decoration-color: transparent;
  margin: 25px;
}
.footerLi:hover{
  text-decoration: underline;
}

.footerLi2{
  list-style-type: none;
  margin: 25px;
  display: inline-block;
}
.footerLi3{
  list-style-type: none;
  margin: 25px;
}
.footerLi4{
  list-style-type: none;
  margin: 25px;
  display: inline-block;
}
.footerLi5{
  list-style-type: none;
  margin: 25px;
}
ul li a{
  color: #999;
  font-size: 13px;
  text-decoration-color: transparent;
  font-family: arial;

}
ul li a:hover{
  text-decoration: underline;
}
select{
  width: 11%;
  height: 40px;
  background-image: url(imagens/icons8-globo-50.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 7% 50%;
  margin: 25px;
  cursor: default;
  background-color: #000; 
  color: #fff;
  font-size: 13px;
  text-align-last: center;
}
div p{
  color: #999;
  font-size: 13px;
  font-family: arial;
  margin: 25px;
  margin-top: -10px;
}
